*{padding:0;margin:0;}

.container{
    margin-bottom: 100px;
}

.carousel-bg{
    background-color:#FEEAE9;
    border-radius: 8px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF247A;
} 

button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1{
    background-color: orange;
    border-radius: 6px;
    color: white;
    padding: 10px 30px;
    cursor:pointer;
    margin-bottom: 10px;
}
.cat2{
    background-color: #D765CE;
    border-radius: 6px;
    color: white;
    padding: 10px 30px;
    cursor:pointer;
    margin-bottom: 10px;
}
.cat3{
    background-color: #3500FE;
    border-radius: 6px;
    color: white;
    padding: 10px 30px;
    cursor:pointer;
    margin-bottom: 10px;
}

.card{
    box-shadow: 5px 5px 10px rgb(226, 226, 226);
    
}
.card:hover{
    border-style: none;
    background-color: #fffdf5;
}
h2{
    margin-bottom: 30px;
}
.card-footer{
    border-style: none;
    background-color: white;
    padding-bottom: 10px 20px;
}
#subscribe{
    height: 400px;
}
